.previewBeforeUpload_content-thumbnail {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  border: 1px solid rgb(42, 122, 66);
  box-shadow: 1px 1px 5px rgb(121, 148, 96);
}

/* chia tỉ lệ ảnh là 1:1 */
.previewBeforeUpload_content-thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* center */
}

.previewBeforeUpload_content-unit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.previewBeforeUpload_accordion-icon {
  padding-right: 5px;
}

.previewBeforeUpload_content-contentSection {
  position: absolute;
  top: 300px;
  width: 100%;
}

.previewBeforeUpload_content-attachment {
  --min-height: 24px;
  --padding-start: 10px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
}
